
*{
    margin:0;
    padding:0;
}

body{
    font-size: 15px;
    font-family: outfit;
    src:url(https://fonts.google.com/specimen/Outfit);
    font-weight: 400 , 700;
}

#container{
    background:grey;
    height:100%;
    width:1440px;
}

.firstBox{
    background:chocolate;
    width:80%;
    height:80%;
   
}